dist: trusty
sudo: false

language: scala

jdk:
  - openjdk11

scala:
  - 2.13.0
  - 2.12.9

script: sbt ++$TRAVIS_SCALA_VERSION clean coverage test

after_success: sbt ++$TRAVIS_SCALA_VERSION coverageReport coveralls

notifications:
  slack:
    on_success: never
    on_failure: always
    rooms:
      secure: "VsY5sCQBdYHBtoLLIAWNelMjx1GZlqoZCKpTKTgGEfx2zCa/ZAVtIQud6u6WKn8C2U4xC0+UphgqHX69B58293PcqQ0Clo2LaofUbkiWTH2LoToTLuZwj8Xj5BQjKhkoW6ihpmX37gPPl3UQM7jJtSak5s+PkOUg6jQv+k8Ll+O4D4OOtHlgVHHMTIeYMa/tK9GwZ9f6HJo5/Q7kwIp4tTti0F3fiT6GV0aTPlYaqzS8gkvaxEZ5hGCg6GuT5pbzX7P9awmL5EnV+iJTpequKqkPyBbBcai/akBluJixajREVAmGeDDTVGHLJfPLZewdWmZcDZJsSKlawtIHqoVoTvKGV8Px16QBLJYn8cD7aUcMlxMa8f6Yoou8dTQrH29//QXRK3AGLLvvV//d4r+o/bYsMy9q9FjDV+9HNjN8hgJe885/Z3Va2I/4DZSNWzUfan+SKa1MA4LCALYuRKOzkf4cizd7CndaODJVR2BaGuskcv5LbF/Uj/BlIRb9x5o7xc0A9nCUIo2Ko2leSq2PZvwDgKIMjLgrkXa104UumxIDF66gf4F3/Rv28MrnBL3VGQbnkanNtHFNz3KATzoN31sc6tksy3LcsQ7ThoE9B5BHDyWWgH0V0lIr18VRdmYvYJ2QMZnEHGevgTR5NjUESvtP5fjOXCkYBhiJIrr+hks="


cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete